<!DOCTYPE html>
<html>

{% include 'head.html' %}

<body>

<div class="container">
	<form method="POST" action="/posts" enctype="multipart/form-data">
		<div class="form-group">
			<label for="imgupload">Schickn photo</label>
			<input class="form-control-file" required id="imgupload" name="image" type="file" accept="image/*">
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="3" name="comment" placeholder="Sagt was"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

</body>

</html>