body {
    background-color: #FFF;
    min-height: 100vh;
}
h1 {
    font-size: 16px;
    font: normal 3vw sans-serif;
}
.comment {
    margin: 15px auto;
    font-size: 21px;
    font: normal 1.5vw sans-serif;
    max-width:600px;
    word-wrap:break-word;
}

.container.gallery-container {
    background-color: #faeced;
    /*background-image: url("background.jpg")*/
    color: #545d4c;
    min-height: 100vh;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'DejaVu Sans', sans-serif;
    font-weight: light;
}

.gallery-container p.page-description {
    text-align: center;
    color: #977c72;
}

/* Center image and display in correct ratio */
.tz-gallery .vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tz-gallery .thumbnail {
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Explicit paddings for different beamer types */
/* 720p Beamer */
@media(min-height: 720px) {
    .container{
        max-width: 1280px;
    }
    .container.gallery-container {
        padding: 10px 00px;
    }
    .gallery-container p.page-description {
        margin: 8px auto;
        font-size: 21px;
        font: normal 2vw sans-serif;
    }
    .tz-gallery {
        padding-top: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .col-small {
        padding: 10px;
        width: 350px;
        height: 262px;
    }
    .col-large {
        padding: 10px;
        width: 700px;
        height: 525px;
    }
}

/* 1080p Beamer */
@media(min-height: 1080px) {
    .container{
        max-width: 1920px;
    }
    .container.gallery-container {
        padding: 50px 00px;
    }
    .gallery-container p.page-description {
        margin: 10px auto;
        font-size: 32px;
        font: normal 2vw sans-serif;
    }
    .tz-gallery {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .col-small {
        padding: 10px;
        width: 450px;
        height: 337px;
    }
    .col-large {
        padding: 10px;
        width: 900px;
        height: 675px;
    }
}