body {
    background-color: #FFF;
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 40px 0;
}

.container.gallery-container {
    background-color: #33302B;
    color: #60AFDD;
    min-height: 100vh;
    padding: 30px 00px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 20px auto;
    font-size: 21px;
    color: #9E9687;
}

.tz-gallery {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Override bootstrap column paddings */
.vcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-small {
    padding: 10px;
/*    border-width:        5px;
    border-style:        solid;
    border-color:        white;*/
    height: 400px;
}

.col-large {
    padding: 10px;
/*    border-width:        5px;
    border-style:        solid;
    border-color:        white;*/
    height: 800px;
}

.tz-gallery .thumbnail {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Make container fill whole FullHD screen */
@media(min-width: 1200px) {
    .container{
            max-width: 1920px;
        }
    body {
        padding: 0;
    }
}